.sector1{
  margin-left:250px;
  margin-right:250px;
  border-style: solid;
  border-color:#3AF7E6;
  background-color:#2DF557;
}
.btn{
  border-radius: 50%;
  height:50px;
}
h1{
  font-family: 'Skranji', cursive;
}
.img1{
  height:110px;
  width:130px;
  transform: translate(-5px, -45%);
}
.img2{
  height:110px;
  width:130px;
  transform: translate(355px, -45%);
}
